.panel2-settings {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #776cf0;
    border-radius: 10px;
    border: none;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #5b52d6;
  }
}


.Panel1_overflow {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #776cf0;
    border-radius: 10px;
    border: none;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #5b52d6;
  }
}
